<div class="row letters_row">
  <% @my_letters.each do |letter| %>
  <div class="col-xs-1 grid_item"> <%= letter %></div>
  <% end %>
</div>


<form action="/pages/result" method="get" class="form-inline my_form">
  <%= hidden_field_tag "letters", @my_letters.join %>
  <%= hidden_field_tag "score", @score %>
  <input class="form-control input" type="text" name="input" placeholder="Your word">
  <input class="btn btn-primary" type="submit" value="Play!">
</form>

